{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">"About Us: The Story Unfolds - Explore More"</h1>
      <p>Welcome to Bossman Hub, your go-to destination for [fashion, electronics, home essentials, gadgets etc.].
        Our mission is simple - to bring you the best products at unbeatable prices, with an exceptional shopping
        experience you can trust.

        At Bossman Hub, we believe that shopping should be convenient, enjoyable, and personalized. That's why we've
        curated a wide range of high-quality products that cater to every need and style. Whether you're looking for the
        latest trends, everyday essentials, or unique items, we've got you covered.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Our Story</h2>
        <p>Founded in 2024, The Bossman Hub started with a vision to redefine the e-commerce experience. What began
          as a small venture has grown into a thriving online store, serving thousands of happy customers across the
          globe. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Why Shop with Us?</h2>
        <p>We are dedicated to offering the best, with carefully vetted products that meet our high standards. By
          working directly with manufacturers, we provide competitive pricing without compromising on quality. Your
          satisfaction is our priority, and our customer service is here to assist you. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Join Our Community</h2>
        <p>At Bossman Hub, we're more than just an online store. We're a community of like-minded individuals who
          value quality, affordability, and convenience. Follow us on Bossman_hub____2024 on instagram, for exclusive
          offers, product updates, and behind-the-scenes insights.

          Thank you for choosing Bossman Hub. We look forward to serving you!</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{% endblock %}